<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: task do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :content, class: 'form-control mb-3', id: 'js-new-comment-body', row: 4, placeholder: 'タスク名' %>
      <%= f.date_field :deadline, class: 'form-control date-picker'%>
      <%= f.submit 'タスク更新', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>