
<div id="break-timer" style="display:none;">
<span>休憩時間</span>
<span id="break-minute">05</span>:
<span id="break-second">00</span>
<p style="color: red; font-size: 20px;">※ ページ遷移するとタイマーが止まるのでご注意ください！</p>
</div>

<div id="message"></div>

<div>
  <p class="pink" style="text-align: center; font-size: 60px;">本日の実績 <%= current_user.pomodoros.where(created_at: Time.zone.now.all_day).count%>回</p>
</div>
<h1>やることリスト</h1>

<!-- タスク新規作成モーダルボタン -->
<button type="button" class="btn lavender" data-toggle="modal" data-target="#exampleModalCenter">タスク新規作成</button>

<!-- 新規作成モーダル -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content" style="background-color:#eff8ff;">
      <div class="modal-header lavender">
        <h5 class="modal-title" id="exampleModalCenterTitle">タスク新規作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @task, local: true do |f|%>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :content, Task.human_attribute_name(:content) %>
            <%= f.text_field :content, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :deadline, Task.human_attribute_name(:deadline) %>
            <%= f.date_field :deadline, class: 'form-control date-picker' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'タスク登録', class: 'btn green' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table class='table js-table-task' style="background-color:white;">
  <thead>
    <tr>
      <th></th>
      <th><%= Task.human_attribute_name(:content) %></th>
      <th><%= Task.human_attribute_name(:deadline) %></th>
      <th>合計ポモドーロ数</th>
      <th>本日のポモドーロ数</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @tasks.present?%>
    <%= render @tasks %>
    <% else %>
    <td>タスクがありません</td>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){

    if(localStorage.getItem('pomo')){
      $('.start-btn').show();
    };
    
    var timer1;
    if(localStorage.getItem('count')){
      $('#break-timer').show();
      $('.start-btn').hide();
      $(window).on('load', function() {
        timer1 = setInterval(function(){
          breakCountDown()
        }, 1000);
      });
    };

    function breakCountDown() {
      if(localStorage.getItem('breakMin') && localStorage.getItem('breakSec')){
        var min = parseInt(localStorage.getItem('breakMin'));
        var sec = parseInt(localStorage.getItem('breakSec'));
      } else {
        var min = parseInt($('#break-minute').text());
        var sec = parseInt($('#break-second').text());
      };
      breakTmWrite(min * 60 + sec - 1);
    };

    function breakTmWrite(int) {
      int = parseInt(int);
      if(int <= -1) {
        clearInterval(timer1);
        localStorage.clear();
        $('#break-timer').hide();
        $('.start-btn').show();
      } else {
        $('#break-minute').text(addZero(Math.floor(int/60)));
        $('#break-second').text(addZero(int % 60));
        localStorage.breakMin = $('#break-minute').text();
        localStorage.breakSec = $('#break-second').text();
      };
    };

    function addZero(val) {
      if(val < 10) {
        val = '0' + val;
      }
      return val;
    }
  });
</script>