<h1>タスク詳細ページ</h1>
<p><span><%= Task.human_attribute_name(:content)%></span><span><%= @task.content %></span></p>
<p><span><%= Task.human_attribute_name(:deadline)%></span><span><%= @task.deadline %></span></p>

<%= column_chart @data, width: "800px", height: "500px" %>