<h1>タスク詳細ページ</h1>
<div class="text-right">
  <%= link_to '編集', edit_task_path(@task), class: 'btn btn-info' %>
</div>
<p><span><%= Task.human_attribute_name(:content)%></span><span><%= @task.content %></span><span><%= Task.human_attribute_name(:deadline)%></span>  <span><%= @task.deadline %></span></p>


<h2>一週間の実績</h2>
<%= column_chart @data, width: "800px", height: "500px" %>