<h1>ユーザー詳細</h1>

<table class="table" style="background-color: white;">
  <tr>
    <th scope="row"><%= User.human_attribute_name(:name) %></th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th scope="row"><%= User.human_attribute_name(:email) %></th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th scope="row">一週間の実績</th>
    <td><%= bar_chart @data, width: "800px" %></td>
  </tr>
</table>
