<div class="navbar shadow-sm" style="background-color:#ffe5b9;">
  <%= link_to 'PomodoroTodo', root_path, class: 'navbar-brand d-flex align-items-center title' %>
  <div class='float-light'>
    <% if current_user %>
    <div class="btn-group dropleft">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu">
        <%= link_to 'やることリスト', tasks_path, class: 'dropdown-item'%>
        <%= link_to 'ユーザーページ', user_path(current_user), class: 'dropdown-item'%>
        <div class="dropdown-divider"></div>
        <%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
    <% else %>
      <%= link_to '新規登録', new_user_path %>
      |
      <%= link_to 'ログイン', login_path %>
    <% end %>
  </div>
</div>

<script>

</script>

